apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: NodePort
  selector:
    app: devops-app
    version: blue  # Изначально указывает на blue
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000
    nodePort: 30080
